<header>
    <h1><a href="{{ site.url + site.baseurl }}/">{{ site.title }}</a></h1>
    <nav>
        <li>
            <a href="{{ site.url + site.baseurl }}/">Home</a>
        </li>
        {% for path in site.navigation %}
            {% assign node = site.pages | where: "path", path | first %}
            <li>
                <a href="{{ node.permalink }}"
                    {% if page.url == node.url %} class="selected"{% endif %}>
                    {{ node.title }}
                </a>
            </li>
        {% endfor %}
    </nav>
</header>